<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
    <title>Nomads | Farms by Nomads &amp; </title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/logo.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />

  </head>


  <body>
<style>
  .button-1:hover {
    /* color: whitesmoke; */
    background:  #3fc0da !important;
  }
  #speak:hover {
  color:whitesmoke
}
</style>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="{% url 'index' %}'"><img class="d-inline-block" src="{% static 'assets/img/logo.png' %}" width="50" alt="logo" /><span class="fw-bold text-primary ms-2" style="color: #3fc0da !important">Farms By Nomads</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2"><a class="nav-link fw-medium active"   aria-current="page" href="#destinations"><span class="nav-link-icon text-800 fas fa-map-marker-alt"></span><span class="nav-link-text">Location </span></a></li>
              <li class="nav-item px-2"><a class="nav-link" href="#facilities"> <span class="nav-link-icon text-800 fas fa-spark"></span><span class="nav-link-text">Facilities</span></a></li>
              <li class="nav-item px-2"><a class="nav-link" href="#deals"> <span class="nav-link-icon text-800 fas fa-hotel"></span><span class="nav-link-text">Explore Farms By Nomads</span></a></li>
              <li class="nav-item px-2"><a class="nav-link" href="#activities"><span class="nav-link-icon text-800 fas fa-bolt"></span><span class="nav-link-text">Activities</span></a></li>
            </ul>
            <form>
              <!-- <button class="btn text-800 order-1 order-lg-0 me-2" type="button">Support</button> -->
              <button class="btn button-1 order-0" style="border: 4px solid #3fc0da !important;" ><span class="text-primary" ><a href='#contacted'  style="color:  #3fc0da" id='speak'>Speak With Us</a></span></button>
            </form>
          </div>
        </div>
      </nav>
      <section class="mt-7 py-0">
        <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url({% static 'assets/img/farm2.jpeg' %});">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
              <h1 class="display-3 text-1000 fw-normal" id='book'>Plan a Day Off</h1>
              <h1 class="display-3 text-primary fw-bold" style="color: #3fc0da !important;">Just How You Want</h1>
              <div class="pt-5">
                <nav>
                  <div class="nav nav-tabs voyage-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link {{ checkactive }}" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-map-marker-alt"></i> Check Availibility</button>
                    <button class="nav-link {{ bookactive}}" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"> <i class="fas fa-hotel"></i> Book Your Farm</button>
                  </div>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade {{ showactivecheck }}" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                     
                        <form action="{% url 'checked' %}" method="POST"  >
                            {% csrf_token %}
                            {% block checkform %}
                            {% load crispy_forms_tags %}
                        {{ checkform|crispy}}
                            
        
                            <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
                                <button class="btn btn-secondary button-1" style="background-color: blue;" type="submit">{{ respond1 }}</button>
                              </div>
                            {% endblock checkform %}
                          </form>
                     
                        
                    </div>
                   
                    <div class="tab-pane fade {{ showactivebook }}" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <form action="{% url 'booked' %}" method="POST"  >
                            {% csrf_token %}
                            {% block bookform %}
                            {% load crispy_forms_tags %}
                        {{ bookform|crispy}}
                            
        
                            <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
                                <button class="btn btn-secondary button-1" style="background-color:blue" type="submit">{{ respond2 }}</button>
                              </div>
                            {% endblock bookform %}
                          </form>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 overflow-hidden">

        <div class="container-fluid">
          <div class="row" >
            <div class="col-lg-6 px-0"><img class="img-fluid order-md-0 mb-4 h-100 " style="height: 600px !important; width: 100% !important;" src="{% static 'assets/img/farm3.jpeg' %}" alt="..." /></div>
            <div class="col-lg-6 px-0 bg-primary-gradient bg-offcanvas-right" style="background: #46d0ec !important;">
              <div class="mx-6 mx-xl-8 my-8">
                <div class="align-items-center d-block d-flex mb-5"><img class="img-fluid me-3 me-md-2 me-lg-4" src="{% static 'assets/img/icons/schedule.png' %}" alt="..." />
                  <div class="flex-1 align-items-center pt-2">
                    <h5 class="fw-bold text-light">It's about creating a relaxed lifestyle</h5>
                  </div>
                </div>
                <div class="align-items-center d-block d-flex mb-5"><img class="img-fluid me-3 me-md-2 me-lg-4" src="{% static 'assets/img/icons/schedule.png' %}" alt="..." />
                  <div class="flex-1 align-items-center pt-2">
                    <h5 class="fw-bold text-light">Plan your own schedule</h5>
                  </div>
                </div>
                <div class="align-items-center d-block d-flex mb-5"><img class="img-fluid me-3 me-md-2 me-lg-4" src="{% static 'assets/img/icons/schedule.png' %}" alt="..." />
                  <div class="flex-1 align-items-center pt-2">
                    <h5 class="fw-bold text-light">Spend some quality time with your friends and family members in a quiet and serene place</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section id="deals">
        <div class="container">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-6">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Flash Deals For Farms By Nomads</h5>
            </div>
            <div class="col-12">
              <div class="carousel slide" id="carouselTestimonials" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100 align-items-center g-2">
                      <div class="col-md-4 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{% static 'assets/img/farm4.jpeg' %}" alt="..." />
                          <div class="card-img-overlay ps-0">
                            <div class="pt-3"><span class="badge bg-primary ms-3 me-1"><i class="fas fa-clock me-1"></i><span></span></span><span class="badge bg-secondary"><i class="fas fa-bolt me-1"></i><span>trending</span><i class="fas fa-bolt ms-1"> </i></span></div>
                          </div>
                          <div class="card-body ps-0">
                            <h5 class="fw-bold text-1000 mb-4 text-truncate" style="color: #3fc0da !important;">Nomads Farmhouse (Weekdays)</h5>
                            <div class="d-flex align-items-center justify-content-start"><span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-900 me-3">Karachi</span><span class="text-800 fs--1 me-2"><i class="fas fa-calendar"></i></span><span class="text-900">1 Night/Day</span></div>
                            <p class="text-decoration-line-through text-900 mt-3 mb-0">Rs. 25000</p>
                            <h1 class="mb-3 text-primary fw-bolder fs-4" style="color: #3fc0da !important;"><span>Rs. 19999</span><span class="text-900 fs--1 fw-normal"></span></h1><span class="badge bg-soft-secondary"><i class="fas fa-tag text-secondary fs--1 me-1"></i><span class="text-secondary fw-normal fs-1">-15%</span></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{% static 'assets/img/farm6.jpeg' %}" alt="..." />
                          <div class="card-img-overlay ps-0">
                            <div class="pt-3"><span class="badge bg-primary ms-3 me-1"><i class="fas fa-clock me-1"></i><span></span></span><span class="badge bg-secondary"><i class="fas fa-bolt me-1"></i><span>trending</span><i class="fas fa-bolt ms-1"> </i></span></div>
                          </div>
                          <div class="card-body ps-0">
                            <h5 class="fw-bold text-1000 mb-4 text-truncate" style="color: #3fc0da !important;">Nomads FarmHouse (Weekends)</h5>
                            <div class="d-flex align-items-center justify-content-start"><span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-900 me-3">Karachi</span><span class="text-800 fs--1 me-2"><i class="fas fa-calendar"></i></span><span class="text-900">1 day/night</span></div>
                            <p class="text-decoration-line-through text-900 mt-3 mb-0">Rs. 30000</p>
                            <h1 class="mb-3 text-primary fw-bolder fs-4" style="color: #3fc0da !important;"><span>Rs. 25000</span><span class="text-900 fs--1 fw-normal"></span></h1><span class="badge bg-soft-secondary"><i class="fas fa-tag text-secondary fs--1 me-1"></i><span class="text-secondary fw-normal fs-1">-15%</span></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{% static 'assets/img/farm7.jpeg' %}" style="height: 350px !important;" alt="..." />
                          <div class="card-img-overlay ps-0">
                            <div class="pt-3"><span class="badge bg-primary ms-3 me-1"><i class="fas fa-clock me-1"></i><span></span></span><span class="badge bg-secondary"><i class="fas fa-bolt me-1"></i><span>trending</span><i class="fas fa-bolt ms-1"> </i></span></div>
                          </div>
                          <div class="card-body ps-0">
                            <h5 class="fw-bold text-1000 mb-4 text-truncate" style="color: #3fc0da !important;">Nomads Family Resort (Weekdays)</h5>
                            <div class="d-flex align-items-center justify-content-start"><span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-900 me-3">Karachi</span><span class="text-800 fs--1 me-2"><i class="fas fa-calendar"></i></span><span class="text-900">1 day/night</span></div>
                            <p class="text-decoration-line-through text-900 mt-3 mb-0">Rs. 25000</p>
                            <h1 class="mb-3 text-primary fw-bolder fs-4" style="color: #3fc0da !important;"><span>Rs. 20000</span><span class="text-900 fs--1 fw-normal"></span></h1><span class="badge bg-soft-secondary"><i class="fas fa-tag text-secondary fs--1 me-1"></i><span class="text-secondary fw-normal fs-1">-15%</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row h-100 align-items-center g-2">
                      <div class="col-md-4 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{% static 'assets/img/farm8.jpeg' %}" alt="..." />
                          <div class="card-img-overlay ps-0">
                            <div class="pt-3"><span class="badge bg-primary ms-3 me-1"><i class="fas fa-clock me-1"></i><span></span></span><span class="badge bg-secondary"><i class="fas fa-bolt me-1"></i><span>trending</span><i class="fas fa-bolt ms-1"> </i></span></div>
                          </div>
                          <div class="card-body ps-0">
                            <h5 class="fw-bold text-1000 mb-4 text-truncate" style="color: #3fc0da !important;">Nomads Family Resort (Weekends)</h5>
                            <div class="d-flex align-items-center justify-content-start"><span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-900 me-3">Karachi</span><span class="text-800 fs--1 me-2"><i class="fas fa-calendar"></i></span><span class="text-900">1 day/night</span></div>
                            <p class="text-decoration-line-through text-900 mt-3 mb-0">Rs. 30000</p>
                            <h1 class="mb-3 text-primary fw-bolder fs-4" style="color: #3fc0da !important;"><span>Rs. 25000</span><span class="text-900 fs--1 fw-normal"></span></h1><span class="badge bg-soft-secondary"><i class="fas fa-tag text-secondary fs--1 me-1"></i><span class="text-secondary fw-normal fs-1">-15%</span></span>
                          </div>
                        </div>
                      </div>
                              </div>
                  </div>
                  <div class="row">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next                                    </span></button>
                  </div>
                </div>
                <div class="row flex-center">
                  <div class="col-auto position-relative z-index-2">
                    <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                      <li class="active" data-bs-target="#carouselTestimonials" data-bs-slide-to="0"></li>
                      <li data-bs-target="#carouselTestimonials" data-bs-slide-to="1"></li>
                      <li data-bs-target="#carouselTestimonials" data-bs-slide-to="2"></li>
                      <li data-bs-target="#carouselTestimonials" data-bs-slide-to="3"></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-7 overflow-hidden" id="destinations" >
        <div class="container bg-offcanvas-gray-right" >
          <div class="row gx-2 mb-2">
            <div class="col-12 col-md-12 col-lg-4" >
              <div class="bg-primary-gradient bg-offcanvas h-100"   >
                <div class="row g-0 justify-content-end" style="background-color: #3fc0da !important;">
                  <div class="col-12" >
                    <div class="p-6 py-md-5 px-md-3 py-lg-8 text-light" ><i class="fas fa-map-marker-alt fs-5 mb-3"></i>
                      <h2 class="mb-3 text-light">Nomads Resort </h2>
                      <p>A place that embraces family and friends in a comfortable way while making them feel special and celebrated.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="{% static 'assets/img/farm9.jpeg' %}" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                  <div class="mt-auto px-4">
                    <h3 class="fs-1 fs-md-2 text-white">Maple</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">Farms By Nomads</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="{% static 'assets/img/farm10.jpeg' %}" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                  <div class="mt-auto px-4">
                    <h3 class="fs-1 fs-md-2 text-white">Maple</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">Farms By Nomads</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
          </div>
         
          </div>
        </div>
      </section>
      <section class="py-0 my-7">
        <div class="bg-holder w-50 bg-left  d-none d-lg-block" style="background-image:url({% static 'assets/img/farm12.jpeg' %});background-position:top;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row g-0">
            <div class="col-lg-4 order-1 order-lg-0"> </div>
            <div class="col-lg-8 bg-white">
              <div class="carousel slide" id="carouselShare" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100">
                      <div class="col-12"><img class="w-100" src="{% static 'assets/img/farm11.jpeg' %}" height="600" alt="..." />
                        <div class="py-4 ps-sm-5">
                          <h4 class="mb-2 text-1000">Make your Day Relaxing at Nomads Family Resort</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6" style="color: #3fc0da !important;">Nomads</h2>
                          <p class="fw-normal mb-0"> Inspiring others to beautify their surroundings and their lives.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="row ps-sm-5 align-items-center">
                  <div class="col-4 col-sm-6 position-relative z-index-2">
                    <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                      <li class="active" data-bs-target="#carouselShare" data-bs-slide-to="0"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="1"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="2"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="3"></li>
                    </ol>
                  </div>
                  <!-- <div class="col-8 col-sm-6 position-relative z-index-2 text-end"><a class="btn btn-lg text-secondary" href="#" role="button">Read More
                      <svg class="bi bi-arrow-right ms-2" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                      </svg></a></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-7" id="activities">

        <div class="container">
          <div class="row g-0">
            <div class="col-lg-4 order-1"><img class="w-100" src="{% static 'assets/img/farm13.jpeg' %}" height="750" alt="..." /></div>
            <div class="col-lg-8">
              <div class="carousel slide" id="carouselActivity" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100">
                      <div class="col-12"><img class="w-100" src="{% static 'assets/img/farm15.jpeg' %}" style="height: 500px !important;" width="383" alt="..." />
                        <div class="py-4">
                          <h4 class="mb-2 text-1000">Engage in activities like</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6" style="color: #3fc0da !important;">Swimming Pool</h2>
                          <p class="fw-normal mb-0 pe-lg-9">We have a Swimming Pool in our farmhouse. All Guests can enjoy the swimming pool and relax to relief the stress.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="row h-100">
                      <div class="col-12"><img class="w-100" src="{% static 'assets/img/farm7.jpeg' %}"  style="height: 600px !important;"  width="383" alt="..." />
                        <div class="py-4">
                          <h4 class="mb-2 text-1000">Engage in activities like</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6" style="color: #3fc0da !important;">Indoor Gaming</h2>
                          <p class="fw-normal mb-0 pe-lg-9">We have a small play centre where you can play few matches of Table Tennis or enjoy some angles and shots at the carrom board.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="1000">
                    <div class="row h-100">
                      <div class="col-12"><img class="w-100" src="{% static 'assets/img/farm16.jpeg' %}"   style="height: 500px !important;" width="383" alt="..." />
                        <div class="py-4">
                          <h4 class="mb-2 text-1000">Engage in activities like</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6" style="color: #3fc0da !important;">Barbeque</h2>
                          <p class="fw-normal mb-0 pe-lg-9">Under the cover of starry nights, you can sit around a campfire and treat yourself to some roasted country chicken in our farmhouse.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row h-100">
                      <div class="col-12"><img class="w-100" src="{% static 'assets/img/farm3.jpeg' %}" style="height: 500px !important;" width="383" alt="..." />
                        <div class="py-4">
                          <h4 class="mb-2 text-1000">Engage in activities like</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6" style="color: #3fc0da !important;">Reading Vacations</h2>
                          <p class="fw-normal mb-0 pe-lg-9">Take your favourite book and slip in to Nomads family Resort. Take a village walk after your long reading sessions.  </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ps-sm-5 ps-md-0 align-items-center">
                  <div class="col-4 col-sm-6 position-relative z-index-2">
                    <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                      <li class="active" data-bs-target="#carouselShare" data-bs-slide-to="0"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="1"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="2"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="3"></li>
                    </ol>
                  </div>
                  <!-- <div class="col-8 col-sm-6 position-relative z-index-2 text-end"><a class="btn btn-lg text-secondary" href="#" role="button">Read More
                      <svg class="bi bi-arrow-right ms-2" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                      </svg></a></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->





      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="facilities">

        <div class="container-fluid">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-6">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Nomads Resort Comes With</h5>
            </div>
          </div>
          <div class="row g-0 flex-center">
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#6790f0; min-height:230px; ">
                <h5 class="text-light">Standby Generator</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#3011BB; min-height:230px;">
                <h5 class="text-light">Lush Green Garden</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#4914DC; min-height:230px;">
                <h5 class="text-light">Children Arena</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#67bbf0; min-height:230px;">
                <h5 class="text-light">Swimming Pool</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#3d63ba; min-height:230px;">
                <h5 class="text-light">Nice and clean kitchen</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#3d63ba; min-height:230px;">
                <h5 class="text-light">Spacious area Hall with a beautiful sitting arrangement</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#3d63ba; min-height:230px;">
                <h5 class="text-light">Large and neat bedrooms </h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#67bbf0; min-height:230px;">
                <h5 class="text-light">A cricket ground with a regularly maintained cricket pitch and high power big Lights</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#6790f0; min-height:230px;">
                <h5 class="text-light">Barbeque area with lovely sitting arrangement</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#4914DC; min-height:230px;">
                <h5 class="text-light">A well-maintained parking area.</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#3011BB; min-height:230px;">
                <h5 class="text-light">Indoor Games</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
              <div class="d-flex flex-column justify-content-center px-3" style="background-color:#3d63ba; min-height:230px;">
                <h5 class="text-light">Security Guard</h5>
                <!-- <h6 class="text-light fw-normal fs-0">From $100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a class="stretched-link" href="#!"></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>


      <section class="mt-7 py-0">
        <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url({% static 'assets/img/farm1.jpeg' %});">
        </div>
        <!--/.bg-holder-->

        <div class="container" id='contacted'>
          <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
              <h1 class="display-3 text-1000 fw-normal">Speak With Us</h1>
              <h1 class="display-3 text-primary fw-bold" style="color: #3fc0da !important;">Our Team is Always Here to Facilitate You!</h1>
              <div class="pt-5">
                <nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                     
                        <form action="{% url 'contacted' %}#contacted" method="POST"  >
                            {% csrf_token %}
                            {% block contactform %}
                            {% load crispy_forms_tags %}
                        {{ contactform|crispy}}
                            
        
                            <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
                                <button class="btn btn-secondary button-1"style="background-color: blue" type="submit">{{ respond3 }}</button>
                              </div>
                            {% endblock contactform %}
                          </form>
                     
                        
                    </div>
                   
                    </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- <section>
        <div class="bg-holder" style="background-image:url(assets/img/gallery/cta-bg.png);background-position:center;background-size:cover;">
        </div>
        
        <div class="container">
          <div class="row flex-center">
            <div class="col-lg-6 text-center"><img class="mb-5 mb-lg-0" src="assets/img/gallery/cta-mobile.png" alt="..." /></div>
            <div class="col-lg-6 text-center">
              <h1 class="fs-6 pe-xxl-10">Get the app</h1>
              <div class="mt-4 pe-xxl-10"><a href="https://play.google.com/store/apps" target="_blank"><img class="me-3" src="assets/img/gallery/google-play.png" width="170" alt="..." /></a><a href="https://www.apple.com/app-store/" target="_blank"> <img src="assets/img/gallery/app-store.png" width="170" alt="..." /></a></div>
            </div>
          </div>
        </div>
      </section> -->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 overflow-hidden" >

        <div class="container" >
          <div class="row" >
            <div class="col-6 col-sm-4 col-lg-6">
              <div class="py-7"><img class="d-inline-block" src="{% static 'assets/img/logo.png' %}" width="50" alt="logo" /><span class="fw-bold fs-4 text-primary ms-2" style="color:#67bbf0 !important">Farms By Nomads</span>
                <ul class="list-unstyled mt-4">
                  <!-- <li class="mb-2"><a class="text-800 fw-bold text-decoration-none" href="#!">News</a></li> -->
                  <li class="mb-2"><a class="text-800 fw-bold text-decoration-none" href="#!">Terms &amp; Conditions</a></li>
                  <li class="mb-2"><a class="text-800 fw-bold text-decoration-none" href="#!">Privacy</a></li>
                  <li class="mb-2"><a class="text-800 fw-bold text-decoration-none" href="#contacted">About Us</a></li>
                  <li class="mb-2"><a class="text-800 fw-bold text-decoration-none" href="#book">Book Your FarmHouse</a></li>
                  <!-- <li class="mb-2"><a class="text-800 fw-bold text-decoration-none" href="#!">FAQs</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-6 col-8 col-lg-6 bg-primary-gradient bg-offcanvas-right" style="background-color: #3fc0da !important;">
              <div class="p-3 py-7 p-md-7" style="background-color: #3fc0da !important;">
                <p class="text-light"><i class="fas fa-phone-alt me-3"></i><span class="text-light">+92 333 1666237</span></p>
                <p class="text-light"><i class="fas fa-envelope me-3"></i><span class="text-light">nomadsadventureservices@gmail.com</span></p>
                <p class="text-light"><i class="fas fa-map-marker-alt me-3"></i><span class="text-light lh-lg">Office No. 122 Amir trade centre, opposite McDonalds,SMCHS, <br/>Karachi</span></p>
                <div class="mt-6"><a href="#!"> <i class="fab fa-facebook text-light fs-4 me-3"></i></a><a href="#!"> <i class="fab fa-twitter text-light fs-4 me-3"></i></a><a href="#!"> <i class="fab fa-instagram text-light fs-4 me-3"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="{% static 'https://polyfill.io/v3/polyfill.min.js?features=window.scroll' %}"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&amp;display=swap" rel="stylesheet">
  </body>

</html>